*.Rproj
.Rproj.user
.vscode/*
.Rhistory
.DS_Store

test_build.R
test_ex.R

GPTCM/src/*.o
GPTCM/src/*.so
GPTCM/src/*.dll
GPTCM/src/symbols.rds
GPTCM/src/Makevars
GPTCM/GPTCM.Rcheck/*
GPTCM.Rcheck/*
*.gcno

GPTCM/autom4te.cache
GPTCM/build
GPTCM/hyperpar.xml

*.tar.gz
*.log
*.status
